*{
    box-sizing:border-box;
    margin  :0px;
    padding : 0px;
    font-family: 'Roboto', sans-serif;
}



/*----------------------------------------------------- NAVIGATION BAR */

nav{
    position: fixed;
    z-index:1;
    top:0px;
    height: 55px;
    width:100%;
    background-color:white;
    box-shadow: 2px 2px 12px #ccc;
}

img{
    display:inline-block;
    height:35px;
}
nav ul{
    align-items:center;
    display:flex;
    margin: 10px 0px;
    justify-content:space-around;
    align-content: center;
    
}

nav img{
    height:35px;
}
nav li a{}
nav li {
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(24, 21, 21);
    
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
    margin: 0px 15px;
}
nav li:hover{
    transition: 0.3s;
    color: rgb(19, 18, 18);
    border-bottom: solid 1px black;    
    transform: scale(1.05);
}




/*----------------------------------------------------- MAIN SECTION SEARCH */
.main-section{
    height: 100vh;
    width: 100%;
}



.emo-img {
    position:absolute;
    height:550px;
    top:50%;
    left:50%;
    
  transform: translate(-50%,-50%); 
}
.emo-img img{
    height: 100px;
}


.text-input{
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%); 
}
.text-input input[type="text"]{
    width: 60vh;
    height: 40px;
    padding: 15px;
    margin-right: 15px;
    font-size:18px;
    border-radius: 5px;
}

.text-input input[type="submit"]{
    height: 40px;
    padding: 0px 25px;
    color:white;
    font-weight: 400;
    font-size:18px;
    border:none;
    border-radius: 5px;
    background-color: rgb(255, 65, 65);
}


/*----------------------------------------------------- FOOTER SECTION */

.footer-section{
    height: 40vh;
    width: 100%;
    background-color:#222;
}



/*----------------------------------------------------- MEDIA Queries SECTION */

@media screen and (max-width: 1600px){
    .emo-img {
        position:absolute;
        height:350px;
        bottom:0;
    }
}